<div id="<%= dom_id business_contact %>">
  <p>
    <strong>Name:</strong>
    <%= business_contact.name %><br>

    <strong>Tipo:</strong>
    <%= business_contact.formated_kind_name %><br>

    <strong>Email:</strong>
    <%= business_contact.email %><br>
  </p>
</div>
