<div id="<%= dom_id business_contact %>">
  <p>
    <strong>Name:</strong>
    <%= business_contact.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= business_contact.type %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= business_contact.email %>
  </p>

</div>
