<h1>Editing business contact</h1>

<%= render "form", business_contact: @business_contact %>

<br>

<div>
  <%= link_to "Show this business contact", @business_contact %> |
  <%= link_to "Back to business contacts", business_contacts_path %>
</div>
