<h1>Editing productive property</h1>

<%= render "form", productive_property: @productive_property %>

<br>

<div>
  <%= link_to "Show this productive property", @productive_property %> |
  <%= link_to "Back to productive properties", productive_properties_path %>
</div>
