<h1>Editing plant specy</h1>

<%= render "form", plant_specy: @plant_specy %>

<br>

<div>
  <%= link_to "Show this plant specy", @plant_specy %> |
  <%= link_to "Back to plant species", plant_species_path %>
</div>
